/* main styles */
body {
	margin:0;
	padding:0;
	background:#BBD9EE;
  	color:#000;
	font-family:arial,sans-serif;
	font-size:13px;
	}
form {
	margin:0;
	padding:0
	}
    
img {border:none;}

a {color:#060606;text-decoration: none}

a:hover {text-decoration: underline}

input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}

input.text,select,textarea {
	color:#333;
	font-size:12px;
	vertical-align:middle;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}


