@charset "utf-8";
/* CSS Document */

body
{
    scrollbar-face-color		: #6AB5B5;
    scrollbar-arrow-color		: #000000;
    scrollbar-track-color		: #F7F7F7;
    scrollbar-shadow-color		: #FDF6E4;
    scrollbar-highlight-color	: silver;
    scrollbar-3dlight-color		: #ffffff;
    scrollbar-darkshadow-Color	: #e1e1e1; 	
    margin-left					: 0px;
    margin-bottom				: 0; 
    margin-top					: 5px;
    margin-right				: 0px;
    font-family                 :Arial, sans-serif;
    font-size                   :13px;
}


.title_td
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
background:#255680;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.category_td
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
background:#E1E1E1;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.title_td_ho
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
background:#FFFFFF;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.title_td_select
{
font-family:rockwell;
font-size:14px;
color:#000000;
background:#FFFFFF;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.table_border
{
border:solid 1px #999999;
}
.tools_normal
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background:#FFFFFF;
text-decoration:none;
padding:3px 3px 3px 3px;
font-weight : bold;
}
.tools_menu
{
	font-family:rockwell;
	font-size:11px;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	background:#c0ddf6;
}
.tools_hover
{
	font-family:rockwell;
	font-size:14px;
	background:#CC6600;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	font-weight : bold;
}
.tools_selected
{
font-family:rockwell;
font-size:14px;
background:#CC6600;
text-decoration:none;
padding:3px 3px 3px 3px;
font-weight : bold;
}
a
{
font-family:Arial, Helvetica, sans-serif;
text-decoration:none;
color:#000000;
}
a:hover
{
font-family:Arial, Helvetica, sans-serif;
text-decoration:underline;
}
.foot
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FF6600;
font-weight:normal;
text-decoration:none;
}
.label
{
font-size:14px;
color:#000000;
background:#E8EEFA;
line-height:25px;
padding-left: 4px;
text-align: right;
}
.value
{
color:#000000;
height:26px;
background:#E8EEFA;
}
.row1
{
background:#c0ddf6;
}
.row2
{
background:#8cb2d2;
}

.error
{
font-family 	: verdana, Helvetica, sans-serif, times new roman;
font-size 		: 15px;
font-variant 	: normal;
height 			: auto;
letter-spacing 	: normal;
color			: #ff0000; 	
text-indent		: 1px;
text-align		: center;
}
.mesg
{
font-family	: verdana,Times New Roman,MS Sans Serif, Arial; 
font-size 	: 13px; 
margin-left	: .4em;
margin-right: .4em; 
color		: #993333;	
font-style	: italic; 
text-align:center;
}
	 
.winbutton_go
{
color		: #ffffff; 
font-size	: 14px;
font-weight	: bold; 
font-family	: tahoma; 
border		: 0px;
width:auto;
height:35px;

background:url(../../images/save_bu_bg.jpg) repeat-x;
cursor:pointer;
}
th	
{
font-family:Arial, Helvetica, sans-serif;
font-size	: 12px;
color:#FFFFFF;
padding		: 2px; 
background-color:#24547e;
font-weight	: bold;
height:20px;
}
p,td
{
font-family:Arial, Helvetica, sans-serif;
font-size	: 12px;
color		: black;
}
.head
{
font-size:11px; color:#EFA663; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold;
}
.text
{
color:#000000;
}
span.mand
{
font-family	: MS Sans Serif, Arial; 
font-size 	: 9pt;
color		: #aa0000;
font-weight	: bold;	
}

/* ----------- scholarshipfr ----------- */
#scholarshipfr{
border:solid 2px #b7ddf2;
width:900px;
background:#ebf4fb;
font-family:tahoma;
font-size:14px;
}
#scholarshipfr h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#scholarshipfr p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#scholarshipfr .winbutton_go
{
color		: #ffffff; 

font-size	: 14px;
font-weight	: bold; 
font-family	: tahoma; 
border		: 0px;
width:auto;
height:35px;
padding:5px 10px 5px 10px;

background:url(../../images/save_bu_bg.jpg) repeat-x;
cursor:pointer;
}
#scholarshipfr label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#scholarshipfr .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#scholarshipfr input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 0px 0px;
background:#FFFFFF;

}
#scholarshipfr button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#scholarshipfr select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:100px;
margin:2px 0 0px 0px;
}

/* ----------- ticketfr ----------- */
#ticketfr{
border:solid 2px #b7ddf2;
width:946px;
background:#ebf4fb;
}
#ticketfr h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#ticketfr p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#ticketfr label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#ticketfr .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#ticketfr input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 0px 0px;

}
#ticketfr button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#ticketfr select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:100px;
margin:2px 0 20px 10px;
}
.you_here1
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#363636;
text-decoration:none;

}
.you_here2
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#c05910;
text-decoration:none;

}
.down_arrow
{
/* for firefox, safari, chrome, etc. */
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
/* for ie */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.td_lable1
{
    font-size:12px;
    font-weight:normal;
    color:#000000;
    text-decoration:none;
    background:#F3F8FF;
    text-align:left;
}
.td_r_text1
{
font-size:12px;
font-weight:normal;
color:#000000;
text-decoration:none;
background:#f7f7f7;
text-align:left;
}
.view_tit_text1
{
font-size:15px;
color:#990000;
text-decoration:none;
padding:5px 5px 5px 5px ;
font-weight:bold;
text-align:left;
}


/* Sample */

/* main styles */
body {
  	color:#000;
	font-family:arial,sans-serif;
	font-size:13px;
	}
/* form {
	margin:0;
	padding:0
	}
    
img {border:none;}

a {color:#060606;text-decoration: none}

a:hover {text-decoration: underline}

input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}

input.text,select,textarea {
	color:#333;
	font-size:12px;
	vertical-align:middle;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
*/