@charset "utf-8";
/* CSS Document */

body
{
    
    margin-left					: 0px;
    margin-bottom				: 0; 
    margin-top					: 5px;
    margin-right				: 0px;
    font-family                 : Arial,sans-serif;
    font-size                   : 13px;
}


.title_td , .title_td a
{
color:#FFFFFF;
background:#255680;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
font-size:13px;
}
.category_td
{
font-size:11px;
color:#000000;
background:#E1E1E1;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}

.title_td_ho , .title_td_ho a
{
font-size:13px;
color:#000000;
background:#FFFFFF;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.title_td_select
{
font-size:14px;
color:#000000;
background:#FFFFFF;
text-decoration:none;
padding:2px 2px 2px 2px;
font-weight:bold;
}
.table_border
{
border:solid 1px #999999;
}
.tools_normal
{
font-size:14px;
background:#FFFFFF;
text-decoration:none;
padding:3px 3px 3px 3px;
font-weight:normal;
}
.tools_menu
{
	
	font-size:11px;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	background:#c0ddf6;
}
.tools_hover
{
	font-size:14px;
	background:#deeffe;
	text-decoration:none;
	padding:3px 3px 3px 3px;
	font-weight:normal;
}
.tools_selected
{

font-size:14px;
background:#deeffe;
text-decoration:none;
padding:3px 3px 3px 3px;
font-weight:normal;

}
a
{

text-decoration:none;
color:#000000;
}
a:hover
{

text-decoration:underline;
}
.foot
{
font-size:14px;
color:#FF6600;
font-weight:normal;
text-decoration:none;
}
.label
{
font-size:14px;
color:#000000;
background:#E8EEFA;
line-height:25px;
padding-left: 4px;
text-align: right;
}
.value
{
color:#000000;
height:26px;
background:#E8EEFA;
}
.row1
{
background:#c0ddf6;
}
.row2
{
background:#8cb2d2;
}

.error
{

font-size 		: 15px;
font-variant 	: normal;
height 			: auto;
letter-spacing 	: normal;
color			: #ff0000; 	
text-indent		: 1px;
text-align		: center;
}
.mesg
{
 
font-size 	: 13px; 
margin-left	: .4em;
margin-right: .4em; 
color		: #993333;	
font-style	: italic; 
text-align:center;
}
	 
.winbutton_go
{
color		: #ffffff; 
font-size	: 14px;
font-weight	: bold; 
 
border		: 0px;
width:auto;
height:35px;

background:url(../../images/save_bu_bg.jpg) repeat-x;
cursor:pointer;
}
th	
{

font-size	: 12px;
color:#FFFFFF;
padding		: 2px; 
background-color:#24547e;
font-weight	: bold;
height:20px;
text-align:center;
}
p,td
{

font-size	: 12px;
color		: black;
}
.head
{
font-size:11px; color:#EFA663; font-weight:bold;
}
.text
{
color:#000000;
}
span.mand
{
 
font-size 	: 9pt;
color		: #aa0000;
font-weight	: bold;	
}
span.stext
{
font-size 	: 9pt;
color		: #000;
}

span.fill
{
    font-weight: bolder;
    color:  #1F2E14;
}
span.notfill
{
    font-weight: bolder;
    color: red;
}

/* ----------- scholarshipfr ----------- */
#scholarshipfr{
border:solid 2px #b7ddf2;
width:900px;
background:#ebf4fb;
font-size:14px;
}
#scholarshipfr h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#scholarshipfr p{
font-size:11px;
color:#666666;
margin-bottom:20px;

padding-bottom:10px;
}
#scholarshipfr .winbutton_go
{
color		: #ffffff; 

font-size	: 14px;
font-weight	: bold; 
border		: 0px;
width:auto;
height:35px;
padding:5px 10px 5px 10px;

background:url(../../images/save_bu_bg.jpg) repeat-x;
cursor:pointer;
}
#scholarshipfr label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#scholarshipfr .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#scholarshipfr input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 0px 0px;
background:#FFFFFF;

}
#scholarshipfr button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#scholarshipfr select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:100px;
margin:2px 0 0px 0px;
}



/*Download_report*/

#Download_report{
border:solid 2px #b7ddf2;
width:500px;
background:#ebf4fb;
font-size:14px;
}
#Download_report h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#Download_report p{
font-size:11px;
color:#666666;
margin-bottom:20px;

padding-bottom:10px;
}
#Download_report .winbutton_go
{
color		: #ffffff; 

font-size	: 14px;
font-weight	: bold; 
border		: 0px;
width:auto;
height:35px;
padding:5px 10px 5px 10px;

background:url(../../images/save_bu_bg.jpg) repeat-x;
cursor:pointer;
}
#Download_report label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#Download_report .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#Download_report input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:150px;
margin:2px 0 0px 0px;
background:#FFFFFF;

}
#Download_report button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#Download_report select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:100px;
margin:2px 0 0px 0px;
}





.you_here1
{

font-size:12px;
color:#363636;
text-decoration:none;

}
.you_here2
{

font-size:12px;
color:#c05910;
text-decoration:none;

}
.down_arrow
{
/* for firefox, safari, chrome, etc. */
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
/* for ie */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.td_lable1
{
    font-size:12px;
    font-weight:normal;
    color:#000000;
    text-decoration:none;
    background:#F3F8FF;
    text-align:left;
}
.td_r_text1
{
font-size:12px;
font-weight:normal;
color:#000000;
text-decoration:none;
background:#f7f7f7;
text-align:left;
}
.view_tit_text1
{
font-size:15px;
color:#990000;
text-decoration:none;
padding:5px 5px 5px 5px ;
font-weight:bold;
text-align:left;
}



/* LOGOUT PAGE */
.hr_message
	{
	font-size 		: 15px; 
	color			: #255680;	
	font-style		: normal;
	text-align 		: center;
	padding-top		: 5px;
	padding-bottom	: 5px;		
	padding-left	: 20px;
	padding-right	: 20px;  	
	border			: 1px solid #D7E0E8;  
	background		:#FEFCDB url(/imgs/m_bg.gif) no-repeat;
	background-position:center ;
	line-height	: 1.6em;
	}
 span.silver	
	{
	font-size 	: 13px;
	color		: #842709;
 	font-weight	: normal;
	}	
    
/* scrollbar */
#scrollbar1 { width: 100%; clear: both; margin: 0px 0 0px; }
#scrollbar1 .viewport { width: 100%; height: 430px; overflow: hidden; position: relative; }
#scrollbar1 .overview { width: 100%; list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #CDCDCD; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }

.link :hover , .link_over
{

font-size:12px;
color:#a60000;
text-decoration:none;
background:#d8d8d8;
}
.link, a.link
{



font-size:12px;
color:#a60000; 
text-decoration:underline;
}
.
{
/* font-family:Arial, Helvetica, sans-serif; */
font-size:12px;
font-weight: bold;
color:#333333;
background:url(../../images/top_br_bg.jpg) repeat-x;
border:solid 1px #999999;
}

.PopBoxImageSmall
{
   border: none 0px white;
   cursor: url("../../imgs/magplus.cur"), pointer;
}
.PopBoxImageLarge
{
   border: solid thin #CCCCFF;
   cursor: url("../../imgs/magminus.cur"), pointer;
}