div.tableContainer {
	width: 100%;		/* table width will be 99% of this*/
	overflow: auto;
	font-family:verdana;
	font-size	: 10px;
}

 div.tableContainer1 {
	width: 100%;		/* table width will be 99% of this--*/
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family:verdana;
	font-size	: 10px;
	scrollbar-face-color		: #6AB5B5;
	scrollbar-arrow-color		: #000000;
	scrollbar-track-color		: #F7F7F7;
	scrollbar-shadow-color		: #FDF6E4;
	scrollbar-highlight-color	: silver;
	scrollbar-3dlight-color		: #ffffff;
	scrollbar-darkshadow-Color	: #e1e1e1; 	
}

 div.tableContainer2 {
	width: 100%;		/* table width will be 99% of this--*/
	overflow: auto;
	overflow-x: scroll;
	overflow-y: scroll;
	font-family:verdana;
	font-size	: 10px;
	scrollbar-face-color		: #6AB5B5;
	scrollbar-arrow-color		: #000000;
	scrollbar-track-color		: #F7F7F7;
	scrollbar-shadow-color		: #FDF6E4;
	scrollbar-highlight-color	: silver;
	scrollbar-3dlight-color		: #ffffff;
	scrollbar-darkshadow-Color	: #e1e1e1; 	
}
#div-report TABLE{
	width: 99%;		/*100% of container produces horiz. scroll in Mozilla*/

}

#div-report THEAD TH {font-family	: MS Sans Serif,verdana;
	font-size	: 11px;
	color		: #000000;
	background	: #F7DAAD;
	FONT-WEIGHT: bold;   CURSOR: default;  POSITION: relative; tEXT-ALIGN: center;
	Z-INDEX: 20; ; TOP: expression(document.getElementById("div-report").scrollTop-2)
}
#div-report THEAD TH.locked {
 FONT-WEIGHT: bold; COLOR: white; POSITION: relative; BACKGROUND-COLOR: navy; Z-INDEX: 30
}
#div-report TH.locked {
	 color:#000000; Z-INDEX: 10; ; LEFT: expression(document.getElementById("div-report").scrollLeft); POSITION: relative; BACKGROUND-COLOR: #ffffff
}
#div-report TD.locked {
	color:#000000; Z-INDEX: 10; ; LEFT: expression(document.getElementById("div-report").scrollLeft); POSITION: relative; BACKGROUND-COLOR: #ffffff
}

#div-report TD {
}

#div-report tfoot td	{
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	background-color: papayawhip;
	color: steelblue;
	}
	

#div-report td.noborder{
	border-left:transparent;
	border-right:transparent;
	border-bottom:transparent;
	border-top:transparent; 
	} 		

#div-report td:last-child {padding-right: 20px;} /*prevent Mozilla scrollbar from hiding cell content*/


@media Print    
{
body{background:white;}
	div.tableContainer {overflow: visible;}
	/*#div-report thead th	{font-family: MS Sans Serif,verdana;font-size: 11px;color: black;background	: white;font-weight:bold;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-top:1px solid #e1e1e1;}*/
	#div-report thead th.locked	{font-family: MS Sans Serif,verdana;font-size: 11px;color: black;background	: white;}
	#div-report thead th {font-family: MS Sans Serif,verdana;font-size: 11px;color: black;background: white;}
	#div-report tfoot td {text-align: center; font-size: 9pt; border-bottom: solid 1px slategray;}
	#div-report thead	{display: table-header-group;}
	#div-report tfoot	{display: table-footer-group;}
	#div-report thead th, thead td	{position: static;}
/*	#div-report tbody td{ background:white;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;}*/
.title{
	border-bottom:1px solid #ECECEC;
	font-size:11px;
	color:#aa0000;
	border-left:1px solid white;
	}	
.prn_label
	{
	border-bottom:1px solid #ECECEC;
	border-left:1px solid #ECECEC;
	border-right:1px solid #ECECEC;
	color:#0000aa;
	background	:#ffffff;
	} 
.prn_value
	{
	border-bottom:1px solid #ECECEC;
	border-left:1px solid #ECECEC;
	border-right:1px solid #ECECEC;
	background	:#ffffff;
	}
.prn_th
	{
	border-bottom:1px solid #ECECEC;
	border-left:1px solid #ECECEC;
	border-right:1px solid #ECECEC;
	} 
th, th.rev, th.app
	{
	font-family:MS Sans Serif,arial;
	font-size:10px;
	background:white; 
	color		: #2C358E; 
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC;
	border-top:1px solid #ECECEC;
	}
td	
{
padding:2px;
}
.label
	{color:#0000aa;
	background	:#ffffff;
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC;}
	
.value,tr.row1 td,tr.row2 td
	{color:#000000;
	background	:#ffffff;
	border-right:1px solid #ECECEC;
	border-bottom:1px solid #ECECEC;
	}
	
.botborder
	{
	border-bottom:1px solid #ECECEC;
	border-left:transparent;
	border-right:transparent;
	border-top:transparent;
	}
tr.grandtot td, tr.subtot td
{
	background:white;
	border-bottom:1px solid #ECECEC;
	border-right:1px solid #ECECEC;
	} 	
.tableline,.table1
	{
	background:#ff9900;
	}
}