bodycart {
	background-color: #D9D9D9;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url(../images/bg.gif);
	font-family: Arial;
	font-size: 12px;
	line-height:16px;  	
}

hrchart{
   border: 1px solid #FFFFFF;
}

thchart{
	background-color:#FFFFFF;
 	font-weight:bold;
}

tdchart{
	background-color:#ecf7fe;
 	text-align:center;
}